﻿@{
    ViewData["Title"] = "OrderComplete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <h1 class="col-md-12 text-center mt-3 mb-3">Your books are on their way!</h1>
    </div>
    <div class="row">
        <div class="fb-share-button" style="margin: 0 48%; transform: scale(2);"
             data-href="https://breastfeedinglaw.com/wp-content/uploads/2020/06/book.jpeg"
             data-size="large" data-mobile-iframe="true">
            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"
               class="fb-xfbml-parse-ignore">
            </a>
        </div>
    </div>
    <br /><br />
    <div class="row">
        <h3 class="col-md-12 text-center mt-3 mb-3">Not Enough? can't blame you</h3>
    </div>
    <div class="row">
        <a asp-controller="Home" asp-action="Shop" class="btn btn-primary btn-lg mx-auto mt-5 mb-3" style="background-color: #252940;
                                      color: white;
                                      border: 1px solid #252940">Give Me Some More</a>
    </div>
</div>

