﻿@{ if (TempData.ContainsKey("LoginFailed") && (bool)TempData["LoginFailed"] == true)
    {
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Oops!</strong> The last login failed, please check your cardentials 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    }
}
<div class="container view-container">
    <div class="card card-signin my-5">
        <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <form class="form-signin" asp-controller="User" asp-action="Login" method="POST">
                <div class="form-label-group">
                    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                    <label for="inputEmail">Email address</label>
                </div>

                <div class="form-label-group">
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <label for="inputPassword">Password</label>
                </div>
                <button class="btn btn-lg btn-signin btn-block text-uppercase" type="submit">
                    SIGN IN
                </button>
                <hr class="my-4">
            </form>
        </div>
    </div>
</div>
