﻿.not-found-whoops {
    font-size: 30px;
}

.not-found-page {
    margin: 30px;
    padding: 20px;
}

.not-found-title {
    font-weight:bold;
}

.main {
    min-height: 200px;
    margin-top: 20px;
    margin: 0px auto;
    width: auto;
    max-width: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
}
