﻿@import url("root.css");

* {
    margin: 0;
    padding: 0
}

#search {
    margin-bottom: 10px;
}

#searchForm {
    width: -webkit-fill-available;
}

#searchForm > * {
    margin-right: 3px;
}

#search-button {
    background-color: var(--sub-bg-color);
    margin-left: 5px;
    width: 20%;
}

::-webkit-input-placeholder {
    font-size: small;
}

.layout {
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.inner {
    max-width: 100%;
    transition: all 0.3s;
}

.grid {
    margin: 0 0 0 -0.5em;
    list-style-type: none;
    transition: all 0.3s
}

.grid:before, .grid:after {
    content: " ";
    display: table
}

.grid:after {
    clear: both
}

.grid-tile {
    width: 100%;
    position: relative;
    padding: 10px;
    float: left;
    box-sizing: border-box;
    transition: all 0.3s;
}

.no-products {
    margin: 10px;
    text-align: center;
}

.item {
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border-radius: 15px;
    border: 2px solid #eee;
    box-sizing: border-box;
}

.reco-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.item-img {
    width: 100%;
    height: 36vh;
    line-height: 36vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    text-align: center;
}

.item-img:hover {
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.item-img:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
}

.pnl-wrapper {
    width: 100%;
    height: 60px;
    display: table;
}

.pnl-wrapper > div, form {
    display: table-cell;
    vertical-align: middle;
}

.pnl-wrapper > form {
    width: 33%;
}

.add-to-cart-button {
    width: 30%;
}

.pnl-wrapper > form > input {
    width: 60%;
}

#qantity {
    height: 100%;
    border: none;
    text-align: center;
}

.pnl-description {
    position: relative;
    padding: 0;
}

.pnl-label {
    color: #424346;
    line-height: 16px;
    max-height: 2.6em;
    font-size: 0.75em;
    overflow: hidden;
    display: block;
}

.pnl-category {
    font-size: 14px;
    color: var(--text-color);
}

.pnl-price {
    line-height: 16px;
    color: #111;
    font-weight: 700;
    font-size: 0.75em;
    display: block;
}

.pnl-ic-wrapper {
    width: 32px;
    height: 32px;
    line-height: 0;
    position: relative;
    margin: 0 auto;
    transform: scale(0.5);
}

    .pnl-ic-wrapper svg {
        fill: none;
        stroke-width: 2.0;
        stroke-linecap: round;
        stroke-miterlimit: 4;
        stroke-location: outside;
    }

.pnl-ic {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.pnl-favorites svg {
    stroke: #a1a8ad;
}

.pnl-favorites {
    width: 32px;
    cursor: pointer;
    position: relative;
}

.pnl-tocart {
    width: 32px;
    cursor: pointer;
    position: relative;
}

.pnl-icon {
    color: black;
    padding: 10px;
    cursor: pointer;
}

@media screen and (min-width: 320px) {
    .pnl-wrapper {
        height: 70px;
        padding: 1.5em;
    }

    .pnl-label, .pnl-price {
        font-size: 1em;
        line-height: 20px;
    }

    .pnl-favorites, .pnl-tocart {
        width: 56px
    }

    .pnl-ic-wrapper {
        transform: scale(0.75)
    }
}


@media screen and (min-width: 360px) {
    .grid {
        margin: 0 0 0 -1.0em
    }

    .pnl-wrapper {
        height: 70px
    }
}


/* PORTRAIT MOBILE MODE
 */

@media screen and (min-width: 480px) {
    .grid {
        margin: 0 0 0 -0.5em
    }

    .grid-tile {
        width: 50%
    }

    .pnl-wrapper {
        height: 60px
    }

    .pnl-label, .pnl-price {
        font-size: 0.75em;
        line-height: 18px;
    }

    .pnl-ic-wrapper {
        transform: scale(0.5)
    }

    .pnl-favorites, .pnl-tocart {
        width: 40px
    }
}

/* LANDSCAPE MOBILE MODE (~416px)
 */

@media (max-height: 26em) {
    .pnl-wrapper {
        height: 48px
    }

    .grid-tile {
        width: 33.3333%
    }

    .pnl-label {
        font-size: 0.7em;
        line-height: 14px;
    }

    .pnl-price {
        font-size: 0.7em;
        line-height: 14px;
    }

    .pnl-favorites {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 0;
        right: 0
    }

    .pnl-ic-wrapper {
        transform: scale(0.5)
    }
}

@media screen and (min-width: 600px) {

    .grid {
        margin: 0 0 0 -1.0em
    }

    .pnl-wrapper {
        height: 70px
    }

    .pnl-label, .pnl-price {
        font-size: 1em;
        line-height: 20px;
    }

    .pnl-favorites, .pnl-tocart {
        width: 56px
    }

    .pnl-ic-wrapper {
        transform: scale(0.75)
    }
}


@media screen and (min-width: 768px) {

    .grid {
        margin: 0 0 0 -1.5em
    }
}

@media screen and (min-width: 1024px) {
    .grid-tile {
        width: 33.3333%
    }
}

@media screen and (min-width: 1440px) {
    .inner {
        width: 1400px;
        margin: 0 auto
    }
}

/*EDIT SHOP*/
#add-button {
    float: right;
}
