﻿@import url("root.css");
@import url("signin.css");
@import url("shop.css");
@import url("cart.css");
@import url("notfound.css");
@import url("checkout.css");
@import url("orders.css");

@font-face {
    font-family: myOswald;
    src: url(../fonts/Oswald-ExtraLight.ttf);
}

body {
    font-family: myOswald, sans-serif;
    color: #235789;
}

footer {
    background-color: var(--main-bg-color);
    position: fixed;
    width: 100vw;
    bottom: 0;
    height: 50px;
    z-index: 1;
    color: #235789;
    padding: 10px;
}

.navbar-title {
    margin-bottom: 0px;
    color: #235789;
}

#site-header {
    text-align: center;
    overflow: hidden;
    width: 100%;
    color: antiquewhite;
}

.title {
    font-size: 5em;
    font-family: Impact, Charcoal, sans-serif;
    text-shadow: 5px 5px 10px black;
}

.main-text {
    margin-top: 40vh;
    transform: translate(0, -50%);
}

.layout-footer {
    margin: 0px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.view-container {
    padding: 40px;
    min-width: 700px;
}

nav {
    background-color: var(--main-bg-color);
    height: 75px;
}

.navbar-center {
    position: absolute;
    left: 50vw;
    transform: translate(-50%);
}

.nav-link {
    color: #e1ad01 !important;
    z-index: 1;
}

.navbar-brand {
    color: #e1ad01 !important;
}

#index-button {
    background-color: var(--sub-bg-color);
    color: white;
    border: 1px solid var(--sub-bg-color);
    border-radius: 5px;
    height: 50px;
    width: 160px;
    transition: all 0.3s ease;
}

#index-button:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

#map {
    position: relative;
    width: 600px;
    height: 300px;
    z-index: 0;
}

.content {
    min-width: 700px;
    padding: 50px;
}

.horizontal {
    display: flex;
}

.edit-form {
    padding: 10px;
}

.edit-form input {
    margin: 2px;
}

.icon-button {
    border: none;
    background-color:transparent;
}

/***
About
****/
.column {
    -webkit-column-count: 3;  Old Chrome, Safari and Opera 
    -moz-column-count: 3;  Old Firefox 
    column-count: 3;
}

.about-container {
    display: flex;
}

.service-item {
    text-align: center;
    flex: 1;
}

.service-item .icon {
    border: 1px #b3b3b3 solid;
    margin: 0 auto;
    border-radius: 100%;
    width: 110px;
    height: 110px;
    display: block;
    margin-bottom: 60px;
    transition: ease .2s;
}

.service-item .icon i {
    line-height: 110px;
    font-size: 45px;
    color: var(--sub-bg-color);
    cursor: auto;
}

.service-item .icon:hover {
    background-color: var(--main-bg-color);
    border-color: var(--sub-bg-color);
}
    .service-item .icon .icon-pen {
        background: url('img/icon/pen.png');
    }

    .service-item h3 {
        margin-bottom: 25px;
    }

    .service-item .text {
        margin: 0 15% 1rem 15%;
    }



/* Share Button */

#fb-share-button {
    background: #3b5998;
    border-radius: 3px;
    font-weight: 600;
    padding: 5px 8px;
    display: inline-block;
    position: static;
    float: right;
    white-space: nowrap;
}

#fb-share-button:hover {
    cursor: pointer;
    background: #213A6F
}

#fb-share-button svg {
    width: 16px;
    fill: white;
    vertical-align: middle;
    border-radius: 2px
}

#fb-share-button span {
    vertical-align: middle;
    color: white;
    font-size: 16px;
    padding: 0 3px
}

/*VIDEO*/
.video-header {
    position: relative;
    background-color: var(--main-bg-color);
    height: calc(100vh - 125px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.video-header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.video-header .container {
    position: relative;
    z-index: 2;
}

.video-header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}

/*END VIDEO*/
