﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/images/book.svg">
    <title>The Smarty Colman</title>

    <!--Load CSS-->
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/animate.css-master/animate.min.css">
        <script src="~/lib/jquery/jquery-3.3.1.min.js"></script>
        <script src="~/lib/popper.js/umd/popper.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/js/script.js"></script>
        <script src="~/js/bingMap.js"></script>
        <script src="~/js/facebookService.js"></script>
        <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&branch=experimental&setMkt=he-IL&setLang=he&key=ApxKkcD7MByeyxSCRDPy27su9HDczhlYFmI96NQDgpTtdHXdNkLr2922DcqjyKad' async defer></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <script src="~/lib/jquery/jquery-3.3.1.min.js"></script>
        <script src="~/lib/popper.js/umd/popper.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/js/script.js"></script>
        <script src="~/js/bingMap.js"></script>
        <script src="~/js/facebookService.js"></script>
        <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&branch=experimental&setMkt=he-IL&setLang=he&key=ApxKkcD7MByeyxSCRDPy27su9HDczhlYFmI96NQDgpTtdHXdNkLr2922DcqjyKad' async defer></script>
    </environment>

</head>
<body>
    <nav class="navbar navbar-light">
        <div class="d-flex justify-content-between">
            <div class="navbar">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Shop">Shop</a>
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="">
                <h2 class="navbar-title">The Smarty Colman</h2>
            </a>
        </div>
        <div class="d-flex justify-content-between">
            <div class="navbar">
                <a class="nav-link" asp-area="" asp-controller="Cart" asp-action="Cart">Cart</a> 
                <a class="nav-link" asp-area="" asp-controller="Registration" asp-action="SignIn">Admin</a> 
            </div>
            </div>
</nav>
    <div>
        @RenderBody()
        <footer>
            <div class="row layout-footer">
                <p class="">&copy; 2021 - final project by Aviya Shirian, Ofir Inbar, Shay Cohen</p>

                <div class="fb-share-button" style="position: relative; top: -10px;"
                     data-href="https://breastfeedinglaw.com/wp-content/uploads/2020/06/book.jpeg"
                     data-size="large" data-mobile-iframe="true">
                    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"
                       class="fb-xfbml-parse-ignore">
                    </a>
                </div>
            </div>
        </footer>
    </div>



    @RenderSection("Scripts", required: false)

    <script src="~/lib/WOW-master/dist/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
</body>

</html>
