﻿@{
    List<Product> ProductsInBag = ViewBag.ProductsInBag;
    Dictionary<int, int> Quantites = ViewBag.quantites;
}

<div class="container view-container">
    <div class="panel-body">
        @if (ProductsInBag == null || ProductsInBag.Count == 0)
        {
        <h2>
            Its seems like your cart is empty!
            <br />
            <button type="button" class="btn btn-default"> @Html.ActionLink("Start Shopping", "Shop", "Home")</button>
        </h2>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @{ foreach (Product product in ProductsInBag)
                        {
                            <tr>
                                <td><strong>@product.Name</strong></td>
                                <td>
                                    @Quantites[product.ID]
                                </td>
                                <td>@product.Price₪</td>
                                <td>
                                    @(Quantites[product.ID] * product.Price)₪<a asp-controller="Cart" asp-action="DeleteProduct" asp-route-id=@product.ID><i class="cart-trash fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        }
                    }
                    <tr>
                        <td colspan="3" class="text-right">Total</td>
                        <td>@(ProductsInBag.Sum(p => p.Price * Quantites[p.ID]))₪</td>
                    </tr>
                </tbody>
            </table>
            <a asp-controller="Home" asp-action="Shop" id="cart-continue-btn" class="btn btn-primary" data-dismiss="modal">Continue Shopping</a>
            <a asp-controller="Checkout" asp-action="Checkout" id="cart-checkout-btn" class="pull-right btn btn-success">
                Checkout
                <canvas id="canvas" width="10" height="10"></canvas>
            </a>
        }
    </div>
</div>
