﻿<div class="container view-container">
    <div class="column about-container">
        <aside class="service-item">
            <div class="icon"><i class="fa fa-diamond"></i></div>
            <h3>Quality</h3>
            <p class="text">
                Our books are the best in the market.
                <br />
                We try to make sure they are in their best shape and are of high quality to have you get the best reading and learning experience possible.
            </p>
        </aside>
        <aside class="service-item">
            <div class="icon"><i class="fa fa-bolt"></i></div>
            <h3>Service</h3>
            <p class="text">
                We believe that service is everything and here to give you the best shopping experience.
                <br />
                As more and more people buy their books online, we wanted to create an easy, convenient way for you to get your books and support bookstores at the same time.
            </p>
        </aside>
        <aside class="service-item">
            <div class="icon"><i class="fa fa-certificate"></i></div>
            <h3>Variety</h3>
            <p class="text">
                We offer a wide range of books for your personal use. And are constantly working on providing you with new ones.
            </p>
        </aside>
    </div>
</div>
