﻿@{
    List<Branch> branches = ViewBag.Branches;
}

<div class="view-container container">
    <header>
        <h2>Email</h2>
    </header>
    <section class="container">
         <a alt="thesmartycolman@info.com" href="mailto:thesmartycolman@info.com">thesmartycolman@info.com</a>
    </section>
    <br/>
    <header>
        <h2>Our Branches</h2>
    </header>
    <br />
    <section class="container">
        <div class="row">
            <div class="col">
                @foreach (Branch branch in branches)
                {
                    <h5>@branch.BranchName</h5>
                    <span>@branch.AddressInfo.AddressString</span>
                    <br /><br />
                }
            </div>
            <div class="map-wrapper col">
                <div class="map-canvas" id="map-canvas"></div>
                <div id="map"></div>
            </div>
        </div>
    </section>
</div>
