﻿

<div class="main">
    <img src="~/images/page_not_found.png" style="width: 470px; height: 290px;"/>
</div>

<div class="main" style="min-height:0px">
    <div class="not-found-page">
        <h2 class="not-found-title">Not Found</h2>
        <div class="not-found-whoops">
            Whoops! Looks like you're lost... Let us help you find your way back!
            <br />
            <button type="button" class="btn btn-default"> @Html.ActionLink("Back Home", "Index", "Home")</button>
        </div>
    </div>
</div>