﻿@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Shop";
    List<Product> products = ViewBag.Products;
    List<Category> categories = ViewBag.Categories;

}

@{ if (TempData.ContainsKey("ProductRemovalFailed") && (bool)TempData["ProductRemovalFailed"] == true)
    {
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Oh no!</strong> You can't delete this product, because it's related to some orders :(
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    }
}

<a data-toggle="modal" data-target="#add-product-modal">
    <button id="add-button" type="button" class="btn btn-success">Add</button>
</a>

<div class="container view-container">
    <div class="layout">
        <section class="inner">
            <ul class="grid">

                @{ foreach (Product product in products)
                    {
                        if (product.IsDeleted) { continue; }

                        string editId = "edit-product" + product.ID;
                        string editIdTarget = "#edit-product" + product.ID;

                        <li class="grid-tile">
                            <div class="item">
                                <img class="item-img" src="@product.ImgPath"
                                     asp-append-version="true" alt="@product.ImgPath" />
                                <div class="pnl-wrapper">
                                    <div class="pnl-description">
                                        <span class="pnl-label">@product.Name</span>
                                        <span class="pnl-category">@product.Category.Name</span>
                                        <span class="pnl-price">@product.Price&#8362;</span>
                                    </div>
                                    <a data-toggle="modal" data-target="@editIdTarget">
                                        <i class="pnl-icon fa fa-pencil fa-lg"></i>
                                    </a>
                                    <!-- Button trigger modal -->
                                    <a asp-route-id="@product.ID" asp-controller="Admin" asp-action="RemoveProduct">
                                        <i class="pnl-icon fa fa-trash fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </li>

                        <!--Edit Product Modal -->
                        <div class="modal fade" id="@editId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Edit @product.Name</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form class="" asp-action="EditProduct" asp-controller="Admin" asp-route-id="@product.ID" method="POST" enctype="multipart/form-data">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="editName">Product Name:</label>
                                                <input id="editName" name="name" type="search" class="form-control ds-input" value="@product.Name" />
                                            </div>

                                            <div class="form-group">
                                                <label for="addCategorySelect">Select Category</label>
                                                <select class="form-control" id="addCategorySelect" name="category">

                                                    @{ foreach (Category category in categories)
                                                        {
                                                            if (category.ID == @product.Category.ID)
                                                            {
                                                                <option value=@category.ID selected>@category.Name</option>
                                                                continue;
                                                            }

                                                            <option value=@category.ID>@category.Name</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="addImage">Add Image</label>
                                                <input value="@product.ImgPath" name="img" type="url" class="form-control-file" accept="image/*" id="addImage">
                                            </div>
                                            <div class="form-group">
                                                <label for="addPrice">Price:</label>
                                                <input id="addPrice" name="price" type="number" value="@product.Price" class="form-control ds-input" />
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="submit" id="search-button" class="btn btn-primary btn-sm" value="Edit">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                }
            </ul>

            <!--Add New Product Modal -->
            <div class="modal fade" id="add-product-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add New Product</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form id="searchForm" class="" asp-action="AddProduct" asp-controller="Admin" method="POST" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="addName">Product Name:</label>
                                    <input id="addName" name="name" type="search" class="form-control ds-input" required/>
                                </div>

                                <div class="form-group">
                                    <label for="addCategorySelect">Select Category</label>
                                    <select class="form-control" id="addCategorySelect" name="category">

                                        @{ foreach (Category category in categories)
                                            {
                                                <option value=@category.ID>@category.Name</option>
                                            }
                                        }
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="addImage">Add Image</label>
                                    <input name="img" type="url" class="form-control-file" accept="image/*" id="addImage" required>
                                </div>

                                <div class="form-group">
                                    <label for="addPrice">Price:</label>
                                    <input min="1" id="addPrice" name="price" type="number" class="form-control ds-input" required/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" id="search-button" class="btn btn-primary btn-sm" value="Add">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>